body {
    padding: 30px;
}
#start {
    position: absolute;
}
#inputbox {
    display:flex;
}

#score {
    /* border: 1px solid aqua;  */
    margin-left: 37.5%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    max-width: 25%;
    font-size: 30px;
}

#board {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#mainBoard {
    padding-right: 55px;
    width: fit-content;
    height: fit-content;
    display: grid;
    /* border: 1px solid pink; */
    row-gap: 20px;
    column-gap: 80px;
    justify-content: center;
    /* max-width: 60vw; */
}
.difficulty, #restart, #mute, #scoreList {
    background-color: rgba(83, 19, 1, 1);
    color: #fff; 
    border: none;
    display:none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#mute {
    position: absolute;
    top: 4.5%;
    left: 40%;
}
#scoreList{
    position:absolute;
    top: 4.5%;
    left: 55%;
}
  
.difficulty:hover,#mute:hover, #scoreList:hover, #restart:hover {
    background-color: #1e4dff;
}

#buttons {
    margin-left:  30%;
    margin-right: 30%;
    /* border: 1px solid green;  */
    display: flex;
    justify-content: space-around;
}
  

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    /* border: 1px solid red; */
    height: 50px;
    width:  50px;
    transition: all 0.5s ease;
}
.back-img {
    background-image: url(./Images/back.svg) !important;
}
.flip {
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
  }
  
  .flip.card {
    transform: perspective(600px) rotateY(0deg);
  }
  
  .flip.back {
    transform: perspective(600px) rotateY(180deg);
  }


  #timer {
    padding-left:  8px;
    padding-right: 8px;
    position: absolute;
    border: 2px solid black;
    display: none;
    /* border: 2px solid white; */
    border-radius: 45px;
    font-size: 30px;
  }
  .deleteScore {
    font-size: 30px;
  }

  .highscores-table {
    width: 100%;
    border-collapse: collapse;
}

.highscores-table td {
    /* border: 1px solid red; */
    padding: 8px;
}

#scoreBoard {
    z-index:3;
    background-color: grey;
    width: 500px;
    /* border: 1px solid blue; */
    left: 65%;
    position: absolute;
}
#score{
    position: absolute;
}
.medall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
  }
  
  .cup {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: gold;
    border-radius: 50%;
    border: 5px solid #b8860b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    font-size: 16px;
    font-weight: bold;
  }
  
#askName {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: #ffc900;
    border: 5px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    font-family: Arial, sans-serif;
}


#continue {
    margin-bottom: 55px;
    background-color: #d8a901;
    border: 2px solid black;
    border-radius: 25px;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#tryAgain {
    margin-top: 390px;
    background-color: #d8a901;
    border: 2px solid black;
    border-radius: 25px;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#winscreen {
    visibility: hidden;  
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 98vh;
    background-color: #ffc900;
    border: 5px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
#winscreen h2 {
    margin-top: 55px;
    font-size: 17px;
}

#winnerName{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
    height: 30px;
    width: 40vw;
    background-color: #d8a901;
    border-radius: 25px;
}