body {
    padding: 30px;
}
#start {
    position: absolute;
}


#score {
    /* border: 1px solid aqua;  */
    /* margin-left: 37.5%; */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    /* max-width: 25%; */
    font-size: 30px;
    font-family: Arial, sans-serif;
}

#board {
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

#mainBoard {
    padding-right: 55px;
    width: fit-content;
    height: fit-content;
    display: grid;
    border: 1px solid pink;
    row-gap: 20px;
    column-gap: 80px;
    justify-content: center;
    /* max-width: 60vw; */
}
.difficulty, #restart, #mute, #scoreList {
    background-color: rgba(83, 19, 1, 1);
    color: #fff; 
    border: none;
    /* display: none; */
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#restart {
    width: 50px;
    height: 50px;
    background-Image: url("./Images/restart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
}

#mute {
    
    /* position: absolute; */
    top: 4.5%;
    left: 40%;
    width: 50px;
    height: 50px;
    background-Image: url("./Images/Speaker.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
}

#scoreList{
    /* position:absolute; */
    top: 4.5%;
    left: 55%;
    width: 50px;
    height: 50px;
    background-Image: url("./Images/Trophy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
}

#timer {
  padding-left:  8px;
  padding-right: 8px;
  /* position: absolute; */
  border: 2px solid black;
  /* display: none; */
  /* border: 2px solid white; */
  max-height: 35px;
  border-radius: 45px;
  font-size: 30px;
  font-family: Arial, sans-serif;
}


header{
    margin-left: 50%;

    /* border: 1px solid pink; */
    display:flex;
    width: 30%;
    flex-direction: rows;
    align-items: center;
    justify-content: space-around;
    transform: translate(-50%, -25%);
}

.difficulty:hover,#mute:hover, #scoreList:hover, #restart:hover {
    background-color: green;
}


  

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 30px;
    /* border: 1px solid red; */
    border-radius: 5px;
    width:  75px;
    height: 75px;
    transition: all 0.5s ease;
    color:white;
}
.back-img {
    background-image: url(./Images/back.svg) !important;
}
.flip {
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
  }
  
  .flip.card {
    transform: perspective(600px) rotateY(0deg);
  }
  
  .flip.back {
    transform: perspective(600px) rotateY(180deg);
  }


  .deleteScore {
    font-size: 30px;
  }

  .highscores-table {
    /* width: 100%; */
    border-collapse: collapse;
}

.highscores-table td {
    /* border: 1px solid red; */
    padding: 8px;   
    border: 1px solid black;
    width: 30vw;
}

#scoreBoard {
    position: absolute;
    top: 4.5%;
    left: 70%;
    z-index:3;
    background-color: #ffc900;
}





.medall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
  }
  
  .cup {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: gold;
    border-radius: 50%;
    border: 5px solid #b8860b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    font-size: 16px;
    font-weight: bold;
  }
  
#askName {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: #ffc900;
    border: 5px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    font-family: Arial, sans-serif;
}


#continue {
    margin-bottom: 55px;
    background-color: #d8a901;
    border: 2px solid black;
    border-radius: 25px;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#tryAgain {
    margin-top: 390px;
    background-color: #d8a901;
    border: 2px solid black;
    border-radius: 25px;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#winscreen {
    visibility: hidden;  
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 98vh;
    background-color: #ffc900;
    border: 5px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
#winscreen h2 {
    margin-top: 55px;
    font-size: 17px;
}

#winnerName{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
    height: 30px;
    width: 40vw;
    background-color: #d8a901;
    border-radius: 25px;
}




#gameSetting {
    visibility: visible;  
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: #ffc900;
    border: 5px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}
#input {
    /* margin-top: 2vw; */
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
    height: 30px;
    width: 40vw;
    background-color: #d8a901;
    color: black;
    border-radius: 25px;
}
.difficulty {
    margin-top: 10px;
    background-image: url("./Images/Cards.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 14vw;
    width: 10vw;
    transition: transform 0.2s;
}
.difficulty:hover {
    transform: translateY(-5px);
  }
#submit {
    margin-top: 10px;
    background-color: rgba(83, 19, 1, 1);   
    color: #fff; 
    border: none;
    /* display: none; */
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom:1vw;
}
.selected {
    background-color: green;
}

#buttons {
    /* border: 1px solid green;  */
    width: 90%;
    display: flex;
    justify-content: space-around;
}

  .scoreItem {
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    position: relative;
    height: 80px;
  }
#score {
    /* border: 1px solid red; */
    margin-top: 2%;
    display: flex;
    width: 100%;
  }
  
  .visible {
    transition: transform 0.5s ease-in-out;
    display: none;
  }
